@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}
h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;

}
h2{
    font-size:46px;
    line-height: 54px;
    color: #222;


}
h4{
    font-size:20px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 12px;
}
.zdanie{
    padding-top: 20px;
    text-align: center;
    font-size: x-large;
}
p{
    font-size:16px;
    color:#465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding:40px 80px;
}
.section-m1{
    margin:40px 0;
}
body{
    width: 100%;
}
#header{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 20px 80px;
    background: lightsteelblue;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left:0;

}
#logo{
    height: 150px;
    width: auto;
    text-align: center;
}
#bar{
    display: flex;
    align-items: center;
    justify-content: center;


}
#bar li{
    list-style: none;
    padding: 0 40px ;
    position: relative;
    left:550px
}
#bar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
    transition: 0.5s ease;
}
#bar li a:hover,
#bar li a.active{
    color: lightcyan;

}
#bar li a.active::after,
#bar li a:hover::after{
    content: "";
    width:30%;
    height: 2px;
    background: lightcyan ;
    position: absolute;
    bottom:-4px ;
    left: 20px;
}

#hero{
    background-image:url("img/tlo.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
#hero h4{
    padding-bottom: 15px;
}
#hero button{
    background-image:url("img/button.png") ;
    background-color: transparent;
    color:cornflowerblue;
    border: 0;
    padding: 20px 80px 20px 80px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight:700 ;
    font-size: 15px;

}
#link {
    background-image:url("img/button.png") ;
    background-color: transparent;
    color:cornflowerblue;
    border: 0;
    padding: 20px 80px 20px 80px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight:700 ;
    font-size: 15px;
    text-decoration: none;
}
#box{
    margin-left: 22%;
    display: flex;
    height:450px;
    width: 1000px;
    overflow-x: scroll;
    overflow-y: unset;
    scroll-behavior: smooth;
    text-align: center;

}


#box .fa-box{
    : right;
    width: 400px;
    max-height: 300px;
    text-align: center;
    padding: 25px 15px ;
    box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
    border-radius: 4px;
    margin: 1px 0;
    transition: transform .2s;
}
#box .fa-box:hover{
    transform: scale(1.5);
    box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}
#box .fa-box img{

    width: 100%;
    margin-bottom: 10px;
}
#box .fa-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color:#5c7b78;
    background-color: lightcyan;
}
.prod{
    border-style: groove;
    border-radius: 2px;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    align-items: center;
    justify-content: center;
}
.prod1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
}
.prod2{
    border-style: groove;
    border-radius: 2px;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    align-items: center;


}
.ccc{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}







